@import 'variables';

@font-face {
    font-family: 'Helvetica Neue LT GEO 55 Roman';
    src: url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.eot');
    src: url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.woff2') format('woff2'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.woff') format('woff'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.ttf') format('truetype'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 55 Roman';
    src: url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.eot');
    src: url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.woff2') format('woff2'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.woff') format('woff'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.ttf') format('truetype'),
        url('https://designbatumi.ge/_website/assets/fonts/roboto-regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 75 bold';
    src: url('https://designbatumi.ge/_website/assets/fonts/roboto-bold/roboto_geo_arm_mt_bold_0-webfont.woff2') format('woff2'),
         url('https://designbatumi.ge/_website/assets/fonts/roboto-bold/roboto_geo_arm_mt_bold_0-webfont.woff') format('woff'),
         url('https://designbatumi.ge/_website/assets/fonts/roboto-bold/roboto_geo_arm_mt_bold_0-webfont.ttf') format('truetype'),
         url('https://designbatumi.ge/_website/assets/fonts/roboto-bold/roboto_geo_arm_mt_bold_0-webfont.svg#roboto__geo_mtbold') format('svg');
    font-weight: normal;
    font-style: normal;
}