@import 'variables';

@font-face {
    font-family: 'Helvetica Neue LT GEO 55 Roman';
    src: url('https://designbatumi.ge/_website/assets/fonts/helvatica-roman/HelveticaNeueLTGEO-55Roman.eot');
    src: url('https://designbatumi.ge/_website/assets/fonts/helvatica-roman/HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-roman/HelveticaNeueLTGEO-55Roman.woff2') format('woff2'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-roman/HelveticaNeueLTGEO-55Roman.woff') format('woff'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-roman/HelveticaNeueLTGEO-55Roman.ttf') format('truetype'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-roman/HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 65';
    src: url('https://designbatumi.ge/_website/assets/fonts/helvatica-medium/HelveticaNeueLTGEO-65Medium.eot');
    src: url('https://designbatumi.ge/_website/assets/fonts/helvatica-medium/HelveticaNeueLTGEO-65Medium.eot?#iefix') format('embedded-opentype'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-medium/HelveticaNeueLTGEO-65Medium.woff2') format('woff2'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-medium/HelveticaNeueLTGEO-65Medium.woff') format('woff'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-medium/HelveticaNeueLTGEO-65Medium.ttf') format('truetype'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-medium/HelveticaNeueLTGEO-65Medium.svg#HelveticaNeueLTGEO-65Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 75 bold';
    src: url('https://designbatumi.ge/_website/assets/fonts/helvatica-bold/HelveticaNeueLTGEO-75Bold.eot');
    src: url('https://designbatumi.ge/_website/assets/fonts/helvatica-bold/HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-bold/HelveticaNeueLTGEO-75Bold.woff2') format('woff2'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-bold/HelveticaNeueLTGEO-75Bold.woff') format('woff'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-bold/HelveticaNeueLTGEO-75Bold.ttf') format('truetype'),
        url('https://designbatumi.ge/_website/assets/fonts/helvatica-bold/HelveticaNeueLTGEO-75Bold.svg#HelveticaNeueLTGEO-75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

