@import 'fonts_ge';
@import 'variables';

header .top .center .address{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

header .top .center .top-menu li a{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

header .top .center .right .phone a{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

header .middle .center .search-box input{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.g-sticky-menu .center .production-box span{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 40px !important;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.g-sticky-menu .center .additional-menu ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 40px !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.g-sticky-menu .center .production-box .navigation-box .main ul li a{
	font-family: 'Roboto _Nusx';
	font-size: 13px;
	line-height: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.g-sticky-menu .center .production-box .navigation-box .sub-category .sub .item p{
	font-family: 'Roboto _Nusx';
	font-size: 13px;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title p{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .center .right .banners li a h3{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
}

main .adresses-box .data h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px;
	font-style: normal;
	font-weight: bold;
}

main .adresses-box.politic-box .data a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px;
	font-style: normal;
	font-weight: bold;
}

main .adresses-box .data p{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .products-box .center h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	line-height: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .products-box .center .products .item .content h3{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px; 
	font-style: normal;
	font-weight: bold;	
}

main .products-box .center .products .item .content .data p,
main .products-box .center .products .item .content .data p strong,
main .products-box .center .products .item .content .data p span{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
}

main .products-box .center .products .item .content .bottom .price-box p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 10px;
	line-height: 10px;
	font-style: normal;
	font-weight: 400;
}

main .products-box .center .products .item .content .bottom .price-box p.price{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
}

main .products-box .center .products .item .image-box .discount{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
}

.titleFont{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	font-weight: bold;
}

.subTitleFont{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-weight: 400;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper p{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-weight: 400;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .old-price strike{
	font-family: 'Roboto _Nusx';
	font-size: 25px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .new-price span{
	font-family: 'Roboto _Nusx';
	font-size: 38px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

main .news .center .title-box h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
} 

main .news .news-slider-box #news-pic-slider .owl-stage-outer .owl-stage .owl-item .item .image-box .text-container .text{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 18px;
	font-style: normal;
	font-weight: bold;
}

main .brands .center .title-box h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
} 

footer .top .copyright{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

footer .top h3{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

footer .top .footer-menu ul li a{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

footer .top .address{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

footer .top .phone a{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

footer .top .link-year p{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

footer .shindi-box .center p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}

footer .shindi-box .center p a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
}

main .similar-products .center .title-box h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
} 

/* purchase */
main .similar-products .center #similar-products-slider .item .content h3{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px; 
	font-style: normal;
	font-weight: bold;	
}

main .similar-products .center #similar-products-slider .item .content .data p,
main .similar-products .center #similar-products-slider .item .content .data p strong,
main .similar-products .center #similar-products-slider .item .content .data p span{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
}

main .similar-products .center #similar-products-slider .item .content .bottom .price-box p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 10px;
	line-height: 10px;
	font-style: normal;
	font-weight: 400;
}

main .similar-products .center #similar-products-slider .item .content .bottom .price-box p.price{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
}

main .similar-products .center #similar-products-slider .item .image-box .discount{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
}

.breadcrumbs ul li a{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
}

.breadcrumbs ul li a::after{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
}

main .product-item .center h1{
	font-family: 'Roboto _GEO Mt regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

main .product-item .center h1 span{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .product-item .center .actions-box .price span{
	font-family: 'Roboto _Nusx';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}

main .product-item .center .actions-box .info span{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

main .product-item .center .actions-box .right form button{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
}

main .product-item .center .description h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px; 
	font-style: normal;
	font-weight: bold;	
}

main .product-item .center .description p{
	text-align: justify;
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

main .product-item .center .additional-data .data p{
	text-align: justify;
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex p{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTab li button{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 12px;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .input-box label{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .input-box input{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .input-box input::placeholder{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .save-pass label span{
	font-family: 'Roboto _Nusx';
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .save-pass label a{
	font-family: 'Roboto _Nusx';
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .submit-box .btns button{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 10px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .fb-gm-auth-box h3{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

#g-auth-register .modal-content .modal-body .left-side .g-flex #myTabContent .tab-pane form .fb-gm-auth-box h3 span{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.product-page main .product-section .left .box h2.title{
	font-family: 'Roboto _Nusx';
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
}

.product-page main .product-section .left .box .wrapper .accordion-header .accordion-button{
	font-family: 'Roboto _Nusx';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 15px;
}

.product-page main .product-section .left .box .wrapper .accordion form label span{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


.product-page main .product-section .right .products .item .content h3{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px; 
	font-style: normal;
	font-weight: bold;	
}

.product-page main .product-section .right .products .item .content .data p,
.product-page main .product-section .right .products .item .content .data p strong,
.product-page main .product-section .right .products .item .content .data p span{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
}

.product-page main .product-section .right .products .item .content .bottom .price-box p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 10px;
	line-height: 10px;
	font-style: normal;
	font-weight: 400;
}

.product-page main .product-section .right .products .item .content .bottom .price-box p.price{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
}

.product-page main .product-section .right .products .item .image-box .discount{
	font-family: 'Roboto _Nusx';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
}

.product-page main .product-section .left .box .product-small .item .content h3{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
}

.product-page main .product-section .left .box .product-small .item .content .price-btns-box .price-box p{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product-page main .product-section .left .box .product-small .item .content .price-btns-box .price-box p.price{
	font-family: 'Roboto _Nusx';
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
}

.product-page main .product-section .right .products h1{
	font-family: 'Roboto _GEO Mt regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.product-page main .product-section .right .products h1 span{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.product-page main .product-section .right .products .actions-box .price span{
	font-family: 'Roboto _Nusx';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}

.product-page main .product-section .right .products .actions-box .info span{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
}

.product-page main .product-section .right .products .actions-box .right form button{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 33px;
}

.product-page main .product-section .right .products .description h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 15px;
	line-height: 15px; 
	font-style: normal;
	font-weight: bold;	
}

.product-page main .product-section .right .products .description p{
	text-align: justify;
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.product-page main .product-section .right .products .additional-data .data p{
	text-align: justify;
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}