@import 'fonts_ge';
@import 'variables';

header .top .center .address{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

header .top .center .top-menu li a{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

header .top .center .right .phone a{
	font-family: 'Roboto _Nusx';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

header .middle .center .search-box input{
	font-family: 'Roboto _Nusx';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

header .bottom .center .production-box span{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 40px !important;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

header .bottom .center .additional-menu ul li a{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 16px;
	line-height: 40px !important;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

header .bottom .center .production-box .navigation-box .main ul li a{
	font-family: 'Roboto _Nusx';
	font-size: 13px;
	line-height: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item p{
	font-family: 'Roboto _Nusx';
	font-size: 13px;
	line-height: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title h2{
	font-family: 'Roboto _GEO Mt regular';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title p{
	font-family: 'Roboto _Nusx';
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

main .center .right .banners li a h3{
	font-family: 'Roboto _Nusx';
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}