@import 'variables';

::selection{
	background:$color1;
	color:$color2;
}

::-moz-selection{
	background:$color1;
	color:$color2;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Add background color to the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: $color2;
}

/* Add hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: $color2;
}

/* Add color to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: $color1;
}


