@import 'variables';

::selection{
	background:$color3;
	color:$white;
}

::-moz-selection{
	background:$color3;
	color:$white;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Add background color to the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: $white;
}

/* Add hover effect to the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: $white;
}

/* Add color to the scrollbar track */
::-webkit-scrollbar-track {
  background-color: $color3;
}

.center{
	width: $center;
	margin: 0 auto;
}

.clearer{
	clear: both;
}

body{
	@include makeNull;
}

header{
	@include makeNull;
	position: relative;
	background-color: $white;
	z-index: 3;
	opacity: 0;
	transform: translateY(-400px);
	@include trans('transform, opacity', '800ms');
}

body.loaded header{
	opacity: 1;
	transform: translateY(0px);
}

header .top{
	@include makeNull;
	width: 100%;
	height: 30px;
	background-color: rgba(136, 137, 137, 0.1);
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.1);
}

header .top .center .address{
	@include makeNull;
	float: left;
	color: $color2;
}

header .top .center .top-menu{
	@include makeNull;
	float: left;
	list-style-type: none;
	margin-left: 125px;
}

header .top .center .top-menu li{
	@include makeNull;
	float: left;
	display: block;
	margin-right: 32px;
}

header .top .center .top-menu li a{
	@include makeNull;
	display: block;
	color: $color2;
	text-decoration: none;
	@include trans('color', '600ms');
}

header .top .center .top-menu li a:hover{
	color: $color3;
}

header .top .center .right{
	@include makeNull;
	float: right;
}

header .top .center .right .social{
	@include makeNull;
	list-style-type: none;
	float: left;
	margin-right: 62px;
}

header .top .center .right .social li{
	@include makeNull;
	float: left;
	margin-right: 32px;
}

header .top .center .right .social li:last-child{
	margin-right: 0px;
}

header .top .center .right .social li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	margin: 5px 0;
	width: 20px;
	height: 20px;
	
	text-indent: -9999px;
	position: relative;
}

header .top .center .right .social li a::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color2;
	@include trans('background-color', '600ms');
}

header .top .center .right .social li a.facebook::after{
	@include sprite('-4px -3px');
}

header .top .center .right .social li a.instagram::after{
	@include sprite('-53px -3px');
}

header .top .center .right .social li a.googlePlus::after{
	@include sprite('-29px -3px');
}

header .top .center .right .social li a.whatsapp::after{
	@include sprite('-77px -3px');
}

header .top .center .right .social li a:hover::after{
	background-color: $color3;
}

header .top .center .right .phone{
	@include makeNull;
	float: left;
}

header .top .center .right .phone a{
	@include makeNull;
	display: block;
	text-decoration: none;
	color: $color2;
	@include trans('color', '600ms');
}

header .top .center .right .phone a:hover{
	color: $color3;
}

header .middle{
	@include makeNull;
	width: 100%;
	padding: 16px 0;
}

header .middle .center .logo{
	@include makeNull;
	float: left;
	margin-right: 32px;
}

header .middle .center .logo a{
	@include makeNull;
	width: 258px;
	height: 45px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	position: relative;
	@include trans('opacity', '600ms');
}

header .middle .center .logo a:hover{
	opacity: 0.7;
}

header .middle .center .logo a::after{
	@include makeNull;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-2px -28px', 'true');
}

header .middle .center .search-box{
	@include makeNull;
	float: left;
	position: relative;
	width: 824px;
	height: 36px;
	margin-top: 9px;
}

header .middle .center .search-box form{
	@include makeNull;
}

header .middle .center .search-box form input{
	@include makeNull;
	width: calc(100% - 2px);
	height: 100%;
	border: solid 1px rgba(136, 137, 137, 0.1);
	background-color: rgba(136, 137, 137, 0.1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: $color2;
	padding-left: 64px; 
	padding-right: 32px;
	@include trans('background-color, padding-left', '600ms');
}

header .middle .center .search-box form.focused input{
	background-color: $white;
	padding-left: 32px;
}

header .middle .center .search-box form input::placeholder{
	color: $color2;
	opacity: 1;
}

header .middle .center .search-box form button{
	@include makeNull;
	width: 22px;
	height: 22px;
	position: relative;
	text-indent: -9999px;
	position: absolute;
	background-color: transparent;
	top: 7px;
	left: 30px;
	z-index: 2;
	@include trans('left', '600ms');
}

header .middle .center .search-box form.focused button{
	left: 790px;
}

header .middle .center .search-box form button::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color2;
	@include sprite('-103px -3px');
	@include trans('background-color', '600ms');
}

header .middle .center .search-box form button:hover::after{
	background-color: $color3;
}

header .middle .center .right{
	@include makeNull;
	float: right;
	margin-top: 10px;
}

header .middle .center .right ul{
	@include makeNull;
	list-style-type: none;
}

header .middle .center .right ul li{
	@include makeNull;
	float: left;
	height: 32px;
	margin-right: 32px;
}

header .middle .center .right ul li:last-child{
	margin-right: 0;
	margin-left: 12px;
}

header .middle .center .right ul li a{
	@include makeNull;
	display: block;
	position: relative;
	text-decoration: none;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
}

header .middle .center .right ul li a.favorite::after,
header .middle .center .right ul li a.profile::after,
header .middle .center .right ul li a.cart::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color3;
	@include trans('background-color', '600ms');
}

header .middle .center .right ul li a.favorite:hover::after,
header .middle .center .right ul li a.profile:hover::after,
header .middle .center .right ul li a.cart:hover::after{
	background-color: $color2;
}

header .middle .center .right ul li a.favorite::after{
	@include sprite('1px -80px');
}

header .middle .center .right ul li a.profile::after{
	@include sprite('-41px -78px');
}

header .middle .center .right ul li a.cart::after{
	@include sprite('-79px -78px');
}

header .middle .center .right ul li a.language{
	width: 30px;
	height: 30px;
	border: solid 1px rgba(136, 137, 137, 0.1);
	border-radius: 100%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	@include trans('opacity', '600ms');
}

header .middle .center .right ul li a.language:hover{
	opacity: 0.7;
}

header .middle .center .right ul li a.ka{
	background-image: url('../img/ka.svg');
}

header .middle .center .right ul li a.en{
	background-image: url('../img/en.svg');
}

header .bottom{
	@include makeNull;
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 100;
	background: rgba(136, 137, 137, 0.10);
	box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.1);
}

header .bottom .center .production-box{
	@include makeNull;
	width: 260px;
	float: left;
	position: relative;
	z-index: 10;
}

header .bottom .center .production-box .production{
	@include makeNull;
	width: 260px;
	height: 40px;
	background-color: $color3;
	padding: 0 14px;
	user-select: none;
	cursor: pointer;
	position: relative;
}

header .bottom .center .production-box .production em{
	@include makeNull;
	display: block;
	position: absolute;
	font-style: normal;
	width: 16px;
	height: 16px;
	top: 10px;
	left: 14px;
}

header .bottom .center .production-box .production em::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: $white;
	@include sprite('-131px -5px');
}

header .bottom .center .production-box .production span{
	@include makeNull;
	display: block;
	color: $white;
	padding-left: 34px;
}

header .bottom .center .additional-menu{
	@include makeNull;
	float: left;
	margin-left: 32px;
}

header .bottom .center .additional-menu ul{
	@include makeNull;
	list-style-type: none;
}

header .bottom .center .additional-menu ul li{
	@include makeNull;
	float: left;
	margin-right: 58px;
}

header .bottom .center .additional-menu ul li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	color: $color2;
	@include trans('color', '600ms');
}

header .bottom .center .additional-menu ul li a:hover{
	color: $color3;
}

body{
	opacity: 0;
	transform: translateY(300px);
	@include trans('opacity, transform', '800ms');
}

body.loaded{
	transform: translateY(0px);
	opacity: 1;
}

body.navigationHovered::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}

body.navigationHovered header::before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
}

header .bottom .center .production-box .navigation-box{
	@include makeNull;
	width: $center;
	position: absolute;
	top: 40px;
	left: 0px;
	display: none;
}

header .bottom .center .production-box .navigation-box.show{
	display: flex;
}

header .bottom .center .production-box .navigation-box .main{
	@include makeNull;
	width: 260px;
	padding: 16px;
	float: left;
	background-color: $white;
}

header .bottom .center .production-box .navigation-box .main ul{
	@include makeNull;
	list-style-type: none;
}

header .bottom .center .production-box .navigation-box .main ul li{
	@include makeNull;
	display: block;
	width: 100%;
	margin-bottom: 6px;
}

header .bottom .center .production-box .navigation-box .main ul li:last-child{
	margin-bottom: 0;
}

header .bottom .center .production-box .navigation-box .main ul li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 62px;
	padding: 0 16px;
	background: rgba(136, 137, 137, 0.05);
	color: $color4;
	@include trans('background-color, color', '600ms');
}

header .bottom .center .production-box .navigation-box .main ul li a:hover{
	background-color: $color5;
	color: $white;
}

header .bottom .center .production-box .navigation-box .sub-category{
	@include makeNull;
	width: calc(100% - 260px);
	float: left;
	background-color: $white;
	padding: 16px;
	display: none;
}

header .bottom .center .production-box .navigation-box .sub-category .sub{
	@include makeNull;
	display: none;
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item{
	@include makeNull;
	width: 100%;
	display: block;
	text-decoration: none;
	margin-bottom: 30px;
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item .img-box{
	@include makeNull;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item .img-box img{
	@include makeNull;
	width: 100px;
	height: 100px;
	object-fit: contain;
	object-position: center;
	margin-bottom: 15px;
	@include trans('transform', '600ms');
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item:hover .img-box img{
	transform: scale(1.1);
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item p{
	@include makeNull;
	color: $color4;
	text-align: center;
	position: relative;
	z-index: 10;
	@include trans('color', '600ms');
}

header .bottom .center .production-box .navigation-box .sub-category .sub .item:hover p{
	color: $color3;
}

main{
	@include makeNull;
	margin-top: 30px;
	position: relative;
	z-index: 1;
}

main .center.g-flex{
	display: flex;
}

main .center .left{
	@include makeNull;
	width: 74.28%;
}

main .center .left .mainslider-box{
	@include makeNull;
	width: 100%;
}

main .center .left .mainslider-box #mainslider{
	@include makeNull;
	width: 100%;
	height: $mainSliderHeight;
	position: relative;
}

main .center .left .mainslider-box #mainslider::after{
	content: "";
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	top: 10px;
	left: 10px;
	border: solid 1px $color2;
	pointer-events: none;
	z-index: 100;
}

main .center .left .mainslider-box #mainslider .owl-stage-outer{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .center .left .mainslider-box #mainslider .owl-stage-outer .owl-stage{
	height: 100%;
	position: relative;
}

main .center .left .mainslider-box #mainslider .owl-stage-outer .owl-stage .owl-item{
	height: 100%;
	position: relative;
}

main .center .left .mainslider-box #mainslider .owl-stage-outer .owl-stage .owl-item .item{
	height: 100%;
	position: relative;
}

main .center .left .mainslider-box #mainslider .owl-stage-outer .owl-stage .owl-item .item .img-box{
	@include makeNull;
	width: 100%;
	height: $mainSliderHeight;
	background-size: cover;
	background-position: center;
}

main .center .left .mainslider-box #mainslider .owl-stage-outer .owl-stage .owl-item .item .img-box img{
	@include makeNull;
	width: 100%;
	opacity: 0;
}

main .center .left .bottom{
	@include makeNull;
	padding: 30px;
	width: 100%;
	height: 150px;
	position: relative;
	margin-top: 20px;
	background-color: $white;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.10);
}

main .center .left .bottom::after{
	content: "";
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	top: 10px;
	left: 10px;
	border: solid 1px $color2;
	pointer-events: none;
	z-index: 100;
}

main .center .left .bottom #subslider{
	@include makeNull;
	width: 800px;
	height: 90px;
	float: left;
	position: relative;
}

main .center .left .bottom #subslider::after{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: $color2;
}

main .center .left .bottom #subslider .owl-stage-outer{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage{
	height: 100%;
	position: relative;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item{
	height: 100%;
	position: relative;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item{
	height: 100%;
	position: relative;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .brand{
	@include makeNull;
	width: 200px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	margin-right: 75px;
	position: relative;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .brand::after{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	right: -75px;
	top: 0;
	background-color: $color2;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .brand img{
	@include makeNull;
	width: 125px;
	object-fit: contain;
	object-position: center;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title{
	@include makeNull;
	margin-left: 75px;
	display: flex;
	height: 100%;
	float: left;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title .box{
	@include makeNull;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title .box h2{
	@include makeNull;
	width: 100%;
	flex-basis: 100%;
	color: $color2;
}

main .center .left .bottom #subslider .owl-stage-outer .owl-stage .owl-item .item .title .box p{
	@include makeNull;
	margin-top: 30px;
	width: 100%;
	flex-basis: 100%;
	color: $color2;
}

main .center .left .bottom .btns{
	@include makeNull;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 800px);
	height: 100%;
	float: right;
}

main .center .left .bottom .btns .box{
	@include makeNull;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .center .left .bottom .btns .box button{
	@include makeNull;
	width: 30px;
	height: 30px;
	margin: 0 10px;
	background-color: rgba(136, 137, 137, 0.1);
	text-indent: -9999px;
	position: relative;
	border-radius: 5px;
	@include trans('background-color', '600ms');
}

main .center .left .bottom .btns .box button::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .center .left .bottom .btns .box button.prev::after{
	@include sprite('-149px -2px');
}

main .center .left .bottom .btns .box button.next::after{
	transform: rotate(180deg);
	@include sprite('-149px -2px');
}

main .center .left .bottom .btns .box button:hover{
	background-color: $color3;
}

main .center .left .bottom .btns .box button:hover::after{
	background-color: $white;
}

main .center .right{
	@include makeNull;
	width: 22.85%;
	margin-left: 2.87%;
}

main .center .right .banners{
	@include makeNull;
	list-style-type: none;
	position: relative;
	height: 100%;
	display: grid;
  grid-template-columns: repeat(1, 1fr); /* Set one column */
  gap: 20px;
}

main .center .right .banners li{
	@include makeNull;
	width: 100%;
	position: relative;
  box-sizing: border-box;
}

main .center .right .banners li::after{
	content: "";
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	top: 10px;
	left: 10px;
	border: solid 1px $color2;
	pointer-events: none;
	z-index: 100;
	@include trans('border-color', '600ms');
}

main .center .right .banners li:hover::after{
	border-color: $color3;
}

main .center .right .banners li a{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	text-decoration: none;
}

main .center .right .banners li a .image-box{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1;
}

main .center .right .banners li a .image-box img{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position: center;
	@include trans('transform', '600ms');
}

main .center .right .banners li:hover a .image-box img{
	transform: scale(1.1);
}

main .center .right .banners li a h3{
	@include makeNull;
	padding: 10px 20px 10px 10px;
	width: calc(100% - 40px);
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 2;
	background-color: $white;
	color: $color2;
	text-align: left;
	@include trans('background-color, color', '600ms');
}

main .center .right .banners li:hover a h3{
	background-color: $color3;
	color: $white;
}

main .center .right .banners li a h3::after{
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	right: 10px;
	z-index: 1;
	background-color: $color2;
	@include sprite('-170px -4px');
	@include trans('background-color', '600ms');
}

main .center .right .banners li:hover a h3::after{
	background-color: $white;
}

main .adresses-box{
	@include makeNull;
	background-color: $white;
	margin-top: 32px;
	padding: 40px 0;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
}

main .adresses-box .item{
	@include makeNull;
	display: flex;
	align-items: center;
}

main .adresses-box .item .box{
	@include makeNull;
}

main .adresses-box .item .box .icon{
	@include makeNull;
	width: 64px;
	height: 64px;
	float: left;
	border-radius: 100%;
	background-color: rgba(136, 137, 137, 0.10);
	position: relative;
	@include trans('background-color', '600ms');
}

main .adresses-box .item:hover .box .icon{
	background-color: $color3;
}

main .adresses-box .item .box .icon::after{
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 13px);
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .adresses-box .item:hover .box .icon::after{
	background-color: $white;
}

main .adresses-box .item .box .icon.hall::after{
	@include sprite('-194px -83px');
}
main .adresses-box .item .box .icon.workshop::after{
	@include sprite('-156px -83px');
}
main .adresses-box .item .box .icon.warehouse::after{
	@include sprite('-123px -82px');
}

main .adresses-box .item .box .data{
	width: calc(100% - 96px);
	float: right;
}

main .adresses-box .item .box .data h2{
	@include makeNull;
	color: $color2;
	@include trans('color', '600ms');
}

main .adresses-box .item:hover .box .data h2{
	color: $color3;
}

main .adresses-box .data p{
	@include makeNull;
	padding-top: 8px;
	color: $color2;
}

main .products-box{
	@include makeNull;
	opacity: 0;
	@include trans('opacity', '1600ms');
}

main .products-box.g-visible{
	opacity: 1;
}

main .products-box .center h2{
	@include makeNull;
	padding: 32px 0;
	color: $color2;
}

main .products-box .center .products{
	@include makeNull;
}

main .products-box .center .products .item{
	@include makeNull;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 30px;
}

main .products-box .center .products .item a{
	@include makeNull;
	display: block;
	text-decoration: none;
}

main .products-box .center .products .item::before{
	@include makeNull;
	content: "";
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	top: 10px;
	left: 10px;
	border: solid 1px $color2;
	pointer-events: none;
	z-index: 10;
	@include trans('border-color', '600ms');
}

main .products-box .center .products .item::before{
	border-color: $color3;
}

main .products-box .center .products .item .image-box{
	@include makeNull;
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
}

main .products-box .center .products .item .image-box .image{
	@include makeNull;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
	@include trans('transform', '600ms');
}

main .products-box .center .products .item:hover .image-box .image{
	transform: scale(1.1);
}

main .products-box .center .products .item .image-box .image img{
	@include makeNull;
	width: 100%;
	opacity: 0;
}

main .products-box .center .products .item .image-box .compare{
	@include makeNull;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	background-color: $white;
	text-indent: -9999px;
	@include trans('background-color', '600ms');
}

main .products-box .center .products .item:hover .image-box .compare{
	background-color: $color3;
}

main .products-box .center .products .item .image-box .compare:hover{
	background-color: $color1;
}

main .products-box .center .products .item .image-box .compare::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	background-color: $color2;
	@include sprite('-189px -3px');
	@include trans('background-color', '600ms');
}

main .products-box .center .products .item .image-box .discount{
	@include makeNull;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 1 !important;
	z-index: 2;
	background-color: $color1;
	color: $white;
	text-align: center;
	@include trans('background-color', '600ms');
}

main .products-box .center .products .item:hover .image-box .compare::after{
	background-color: $white;
}

main .products-box .center .products .item .content{
	@include makeNull;
	padding: 20px;
}

main .products-box .center .products .item .content h3{
	@include makeNull;
	color: $color2;
	margin-bottom: 8px;
	@include trans('color', '600ms');
}

main .products-box .center .products .item:hover .content h3{
	color: $color3;
}

main .products-box .center .products .item .content .data{
	@include makeNull;
}

main .products-box .center .products .item .content .data p,
main .products-box .center .products .item .content .data p strong,
main .products-box .center .products .item .content .data p span{
	@include makeNull;
	color: $color2;
}

main .products-box .center .products .item .content .bottom{
	@include makeNull;
	padding-top: 15px;
}

main .products-box .center .products .item .content .bottom .price-box{
	@include makeNull;
	height: 24px;
	display: inline-block;
}

main .products-box .center .products .item .content .bottom .price-box p{
	@include makeNull;
	color: $color2;
	@include trans('color', '600ms');
}

main .products-box .center .products .item:hover .content .bottom .price-box p{
	color: $color3;
}

main .products-box .center .products .item .content .bottom .price-box p.price{
	margin-top: 4px;
}

main .products-box .center .products .item .content .bottom .btns{
	@include makeNull;
	display: inline-block;
	float: right;
	margin-top: 4px;
}

main .products-box .center .products .item .content .bottom .btns button{
	@include makeNull;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid rgba(136, 137, 137, 0.10);
	background-color: white;
	position: relative;
	margin-right: 8px;
	text-indent: -9999px;
	@include trans('background-color, border-color', '600ms');
}

main .products-box .center .products .item:hover .content .bottom .btns button{
	background-color: $color3;
	border-color: $color3;
}

main .products-box .center .products .item .content .bottom .btns button:hover{
	background-color: $color1;
	border-color: $color1;
}

main .products-box .center .products .item .content .bottom .btns button:last-child{
	margin-right: 0px;
}

main .products-box .center .products .item .content .bottom .btns button::after{
	@include makeNull;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .products-box .center .products .item:hover .content .bottom .btns button::after{
	background-color: $white;
}

main .products-box .center .products .item .content .bottom .btns button.favourite::after{
	@include sprite('-227px -5px');
}

main .products-box .center .products .item .content .bottom .btns button.cart::after{
	@include sprite('-210px -5px');
}

main .discount{
	@include makeNull;
	opacity: 0;
	@include trans('opacity', '1600ms');
}

main .discount.g-visible{
	opacity: 1;
}

main .discount #discount-slider{
	@include makeNull;
	height: 720px; /* 663px */
	position: relative;
}

main .discount #discount-slider .owl-nav{
	@include makeNull;
	width: 100%;
	height: 30px;
	position: absolute;
	top: 285px;
	left: 0;
	z-index: 100;
}

main .discount #discount-slider .owl-nav button{
	@include makeNull;
	width: 30px;
	height: 30px;
	margin: 0 15px;
	background-color: $white;
	text-indent: -9999px;
	position: relative;
	border-radius: 5px;
	@include trans('background-color', '600ms');
}

main .discount #discount-slider .owl-nav button::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .discount #discount-slider .owl-nav button.owl-prev{
	float: left;
}

main .discount #discount-slider .owl-nav button.owl-next{
	float: right;
}

main .discount #discount-slider .owl-nav button.owl-prev::after{
	@include sprite('-149px -2px');
}

main .discount #discount-slider .owl-nav button.owl-next::after{
	transform: rotate(180deg);
	@include sprite('-149px -2px');
}

main .discount #discount-slider .owl-nav button:hover{
	background-color: $color3;
}

main .discount #discount-slider .owl-nav button:hover::after{
	background-color: $white;
}

main .discount #discount-slider .owl-dots{
	@include makeNull;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 220px;
	z-index: 100;
	text-align: center;
}

main .discount #discount-slider .owl-dots .owl-dot{
	@include makeNull;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: $white;
	margin: 0 15px;
	display: inline-block;
}

main .discount #discount-slider .owl-dots .owl-dot.active{
	transform: scale(1.25);
}

main .discount #discount-slider .owl-stage-outer{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .discount #discount-slider .owl-stage-outer .owl-stage{
	height: 100%;
	position: relative;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item{
	height: 100%;
	height: 600px;
	position: relative;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .image-box{
	@include makeNull;
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .image-box .image{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .image-box .image img{
	@include makeNull;
	width: 100%;
	opacity: 0;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content{
	@include makeNull;
	width: 100%;
	height: 160px;
	position: absolute;
	bottom: -80px;
	z-index: 2;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box{
	@include makeNull;
	width: 100%;
	height: 160px;
	padding: 40px 80px;
	position: relative;
	background-color: $white;
	overflow: hidden;
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box::after{
	content: "";
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	top: 10px;
	left: 10px;
	border: solid 1px $color2;
	pointer-events: none;
	z-index: 100;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .brand{
	@include makeNull;
	width: 160px;
	height: 100%;
	display: flex;
	align-items: center;
	float: left;
	margin-right: 80px;
	position: relative;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .brand::after{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	right: -80px;
	top: 0;
	background-color: $color2;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .brand img{
	@include makeNull;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title{
	@include makeNull;
	margin-left: 80px;
	display: flex;
	width: 675px;
	height: 100%;
	float: left;
	position: relative;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title::after{
	content: "";
	width: 1px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: $color2;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper{
	@include makeNull;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper h2{
	@include makeNull;
	color: $color2;
	margin-bottom: 20px;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .title .wrapper p{
	@include makeNull;
	color: $color2;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price{
	@include makeNull;
	float: right;
	display: flex;
	height: 100%;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper{
	@include makeNull;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .old-price{
	@include makeNull;
	text-align: right;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .old-price strike{
	@include makeNull;
	color: $color2;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .new-price{
	@include makeNull;
	text-align: right;
}

main .discount #discount-slider .owl-stage-outer .owl-stage .owl-item .item .content .center .box .price .wrapper .new-price span{
	@include makeNull;
	color: $color1;
}

main .news{
	@include makeNull;
	opacity: 0;
	@include trans('opacity', '1600ms');
}

main .news.g-visible{
	opacity: 1;
}

main .news .center .title-box{
	@include makeNull;
	width: 100%;
	margin-bottom: 40px;
}

main .news .center .title-box h2{
	@include makeNull;
	float: left;
	color: $color2;
} 

main .news .center .title-box .btns{
	@include makeNull;
	float: right;
}

main .news .center .title-box .btns button{
	@include makeNull;
	width: 30px;
	height: 30px;
	margin-right: 11px;
	background-color: rgba(136, 137, 137, 0.1);
	text-indent: -9999px;
	position: relative;
	border-radius: 5px;
	@include trans('background-color', '600ms');
}

main .news .center .title-box .btns button:last-child{
	margin-right: 0px;
}

main .news .center .title-box .btns button::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .news .center .title-box .btns button.prev::after{
	@include sprite('-149px -2px');
}

main .news .center .title-box .btns button.next::after{
	transform: rotate(180deg);
	@include sprite('-149px -2px');
}

main .news .center .title-box .btns button:hover{
	background-color: $color3;
}

main .news .center .title-box .btns button:hover::after{
	background-color: $white;
}

main .news .news-slider-box{
	@include makeNull;
	width: 100%;
	height: 420px;
	position: relative;
}

main .news .news-slider-box #news-pic-slider{
	@include makeNull;
	width: 100%;
	height: 420px;
}

main .news .news-slider-box #news-pic-slider .owl-stage-outer{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .news .news-slider-box #news-pic-slider .owl-stage-outer .owl-stage{
	height: 100%;
	position: relative;
}

main .news .news-slider-box #news-pic-slider .owl-stage-outer .owl-stage .owl-item{
	height: 100%;
	position: relative;
}

main .news .news-slider-box #news-pic-slider .owl-stage-outer .owl-stage .owl-item .item{
	display: block;
	text-decoration: none;
}

main .news .news-slider-box .text-container{
	@include makeNull;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 40px;
	z-index: 100;
}

main .news .news-slider-box .text-container .center .text{
	@include makeNull;
	width: 600px;
	height: 60px;
	display: block;
	text-decoration: none;
	background-color: $white;
	color: $color2;
	padding: 0 40px;
	@include trans('background-color, color', '600ms');
}

main .news .news-slider-box .text-container .center .text:hover{
	background-color: $color3;
	color: $white;
}

main .news .news-slider-box .text-container .center .left{
	float: left;
	text-align: left;
}

main .news .news-slider-box .text-container .center .right{
	float: right;
	text-align: right;
}

/*brands*/
main .brands{
	@include makeNull;
	opacity: 0;
	@include trans('opacity', '1600ms');
}

main .brands.g-visible{
	opacity: 1;
}

main .brands .center .title-box{
	@include makeNull;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 0;
}

main .brands .center .title-box h2{
	@include makeNull;
	float: left;
	color: $color2;
} 

main .brands .center .title-box .btns{
	@include makeNull;
	float: right;
}

main .brands .center .title-box .btns button{
	@include makeNull;
	width: 30px;
	height: 30px;
	margin-right: 11px;
	background-color: rgba(136, 137, 137, 0.1);
	text-indent: -9999px;
	position: relative;
	border-radius: 5px;
	@include trans('background-color', '600ms');
}

main .brands .center .title-box .btns button:last-child{
	margin-right: 0px;
}

main .brands .center .title-box .btns button::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .brands .center .title-box .btns button.prev::after{
	@include sprite('-149px -2px');
}

main .brands .center .title-box .btns button.next::after{
	transform: rotate(180deg);
	@include sprite('-149px -2px');
}

main .brands .center .title-box .btns button:hover{
	background-color: $color3;
}

main .brands .center .title-box .btns button:hover::after{
	background-color: $white;
}

main .brands .center .brand-slider{
	@include makeNull;
	width: 100%;
	padding-top: 40px;
	overflow: hidden;
}

main .brands .center .brand-slider .wrapper{
	@include makeNull;
	display: flex;
	flex-wrap: wrap;
}

main .brands .center .brand-slider .wrapper .item{
	@include makeNull;
	width: 240px;
	flex-basis: 240px;
	height: 240px;
	display: block;
}

main .brands .center .brand-slider .wrapper .item .image-box{
	@include makeNull;
	width: 200px;
	height: 200px;
	float: left;
	border:solid 1px $color2;
	border-radius: 16px;
	background-size: 120px;
	background-position: center;
	background-repeat: no-repeat;
	@include trans('transform, border-color', '600ms');
}

main .brands .center .brand-slider .wrapper .item:hover .image-box{
	transform: translateY(-25px);
	border-color: $color3;
}

main .brands .center .brand-slider .wrapper .item .image-box img{
	@include makeNull;
	width: 100%;
	opacity: 0;
}

footer{
	@include makeNull;
	opacity: 0;
	@include trans('opacity', '1600ms');
}

footer.g-visible{
	opacity: 1;
}

footer .top{
	position: relative;
	padding-top: 60px;
}

footer .top::before{
	content: "";
	width: 100%;
	height: 1px;
	background-color: $color2;
	position: absolute;
	top: 0;
	left: 0;
}

footer .top .footer-logo{
	@include makeNull;
	content: "";
	width: 256px;
	height: 45px;
	display: block;
	text-indent: -9999px;
	@include sprite('-2px -28px', 'true');
	transform: scale(0.71);
	transform-origin: left;
}

footer .top .copyright{
	@include makeNull;
	color: $color2;
	margin-top: 20px;
	width: 240px;
}

footer .top h3{
	@include makeNull;
	width: 100%;
	height: 34px;
	position: relative;
	color: $color2;
}

footer .top h3::after{
	content: "";
	width: 32px;
	height: 1px;
	background-color: $color2;
	position: absolute;
	left: 0;
	bottom: 0;
}

footer .top .social-box ul{
	@include makeNull;
	list-style-type: none;
	margin-top: 15px;
}

footer .top .social-box ul li{
	@include makeNull;
	float: left;
	margin-right: 24px;
}

footer .top .social-box ul li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	border-radius: 3px;
	background-color: $color3;
	position: relative;
	@include trans('background-color', '600ms');
}

footer .top .social-box ul li a:hover{
	background-color: $color1;
}

footer .top .social-box ul li a::after{
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 13px);
	background-color: $white;
}

footer .top .social-box ul li a.facebook::after{
	@include sprite('-2px -115px');
}

footer .top .social-box ul li a.instagram::after{
	@include sprite('-31px -117px');
}

footer .top .social-box ul li a.googlePlus::after{
	@include sprite('-65px -116px');
}

footer .top .social-box ul li a.whatsapp::after{
	@include sprite('-99px -117px');
}

footer .top .social-box h3{
	margin-top: 40px;
}

footer .top .footer-menu{
	@include makeNull;
	margin-top: 15px;
}

footer .top .footer-menu ul{
	@include makeNull;
	list-style-type: none;
}

footer .top .footer-menu ul li{
	@include makeNull;
	display: block;
	margin-bottom: 20px;
}

footer .top .footer-menu ul li:last-child{
	margin-bottom: 0;
}

footer .top .footer-menu ul li a{
	@include makeNull;
	display: block;
	text-decoration: none;
	color: $color2;
	@include trans('color', '600ms');
}

footer .top .footer-menu ul li a:hover{
	color: $color3;
}

footer .top .address{
	@include makeNull;
	margin-top: 15px;
	color: $color2;
	margin-bottom: 20px;
}

footer .top .phone{
	@include makeNull;
}

footer .top .phone a{
	@include makeNull;
	display: block;
	text-decoration: none;
	color: $color2;
	@include trans('color', '600ms');
}

footer .top .phone a:hover{
	color: $color3;
}

footer .col-md-4{
	position: relative;
}

footer .top .link-year{
	@include makeNull;
	display: inline-block;
	position: absolute;
	left: 15px;
	bottom: 0;
	padding-top: 15px;
	border-top: solid 1px $color2;
}

footer .top .link-year p{
	@include makeNull;
	color: $color2;
}

footer .shindi-box{
	@include makeNull;
	margin-top: 55px;
	width: 100%;
	height: 32px;
	background-color: $color3;
}

footer .shindi-box .center p{
	@include makeNull;
	color: $white;
	text-align: left;
}

footer .shindi-box .center p a{
	@include makeNull;
	color: $white;
	text-align: left;
	display: inline-block;
	text-decoration: none;
	@include trans('color', '600ms');
}

footer .shindi-box .center p a:hover{
	color: $color1;
}

footer .shindi-box .center .shindi-logo{
	display: flex;
	align-items: center;
	width: 50px;
	height: 32px;
	float: right;
}

footer .shindi-box .center .shindi-logo .shindi{
	@include makeNull;
	float: right;
	width: 50px;
	height: 22px;
	text-indent: -9999px;
	position: relative;
}

footer .shindi-box .center .shindi-logo .shindi::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@include sprite('-138px -119px');
	background-color: $white;
	@include trans('background-color', '600ms');
}

footer .shindi-box .center .shindi-logo .shindi:hover::after{
	background-color: $color1;
}

/* purchase  */
main .similar-products{
	@include makeNull;
}

main .similar-products .center .title-box{
	@include makeNull;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 0;
}

main .similar-products .center .title-box h2{
	@include makeNull;
	float: left;
	color: $color2;
} 

main .similar-products .center .title-box .btns{
	@include makeNull;
	float: right;
}

main .similar-products .center .title-box .btns button{
	@include makeNull;
	width: 30px;
	height: 30px;
	margin-right: 11px;
	background-color: rgba(136, 137, 137, 0.1);
	text-indent: -9999px;
	position: relative;
	border-radius: 5px;
	@include trans('background-color', '600ms');
}

main .similar-products .center .title-box .btns button:last-child{
	margin-right: 0px;
}

main .similar-products .center .title-box .btns button::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .similar-products .center .title-box .btns button.prev::after{
	@include sprite('-149px -2px');
}

main .similar-products .center .title-box .btns button.next::after{
	transform: rotate(180deg);
	@include sprite('-149px -2px');
}

main .similar-products .center .title-box .btns button:hover{
	background-color: $color3;
}

main .similar-products .center .title-box .btns button:hover::after{
	background-color: $white;
}

main .similar-products .center #similar-products-slider{
	@include makeNull;
	margin-top: 40px;
}

main .similar-products .center #similar-products-slider .owl-stage-outer{
	@include makeNull;
	width: 100%;
	height: 100%;
	position: relative;
}

main .similar-products .center #similar-products-slider .owl-stage-outer .owl-stage{
	height: 100%;
	position: relative;
}

main .similar-products .center #similar-products-slider .owl-stage-outer .owl-stage .owl-item{
	height: 100%;
	position: relative;
}

main .similar-products .center #similar-products-slider .owl-stage-outer .owl-stage .owl-item .item{
	height: 100%;
	position: relative;
}

main .similar-products .center #similar-products-slider .item{
	@include makeNull;
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 30px;
}

main .similar-products .center #similar-products-slider .item a{
	@include makeNull;
	display: block;
	text-decoration: none;
}

main .similar-products .center #similar-products-slider .item::before{
	@include makeNull;
	content: "";
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	position: absolute;
	top: 10px;
	left: 10px;
	border: solid 1px $color2;
	pointer-events: none;
	z-index: 10;
	@include trans('border-color', '600ms');
}

main .similar-products .center #similar-products-slider .item::before{
	border-color: $color3;
}

main .similar-products .center #similar-products-slider .item .image-box{
	@include makeNull;
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
}

main .similar-products .center #similar-products-slider .item .image-box .image{
	@include makeNull;
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
	@include trans('transform', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .image-box .image{
	transform: scale(1.1);
}

main .similar-products .center #similar-products-slider .item .image-box .image img{
	@include makeNull;
	width: 100%;
	opacity: 0;
}

main .similar-products .center #similar-products-slider .item .image-box .compare{
	@include makeNull;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	background-color: $white;
	text-indent: -9999px;
	@include trans('background-color', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .image-box .compare{
	background-color: $color3;
}

main .similar-products .center #similar-products-slider .item .image-box .compare:hover{
	background-color: $color1;
}

main .similar-products .center #similar-products-slider .item .image-box .compare::after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	background-color: $color2;
	@include sprite('-189px -3px');
	@include trans('background-color', '600ms');
}

main .similar-products .center #similar-products-slider .item .image-box .discount{
	@include makeNull;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	position: absolute;
	top: 20px;
	left: 20px;
	opacity: 1 !important;
	z-index: 2;
	background-color: $color1;
	color: $white;
	text-align: center;
	@include trans('background-color', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .image-box .compare::after{
	background-color: $white;
}

main .similar-products .center #similar-products-slider .item .content{
	@include makeNull;
	padding: 20px;
}

main .similar-products .center #similar-products-slider .item .content h3{
	@include makeNull;
	color: $color2;
	margin-bottom: 8px;
	@include trans('color', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .content h3{
	color: $color3;
}

main .similar-products .center #similar-products-slider .item .content .data{
	@include makeNull;
}

main .similar-products .center #similar-products-slider .item .content .data p,
main .similar-products .center #similar-products-slider .item .content .data p strong,
main .similar-products .center #similar-products-slider .item .content .data p span{
	@include makeNull;
	color: $color2;
}

main .similar-products .center #similar-products-slider .item .content .bottom{
	@include makeNull;
	padding-top: 15px;
}

main .similar-products .center #similar-products-slider .item .content .bottom .price-box{
	@include makeNull;
	height: 24px;
	display: inline-block;
}

main .similar-products .center #similar-products-slider .item .content .bottom .price-box p{
	@include makeNull;
	color: $color2;
	@include trans('color', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .content .bottom .price-box p{
	color: $color3;
}

main .similar-products .center #similar-products-slider .item .content .bottom .price-box p.price{
	margin-top: 4px;
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns{
	@include makeNull;
	display: inline-block;
	float: right;
	margin-top: 4px;
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns button{
	@include makeNull;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	border: 1px solid rgba(136, 137, 137, 0.10);
	background-color: white;
	position: relative;
	margin-right: 8px;
	text-indent: -9999px;
	@include trans('background-color, border-color', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .content .bottom .btns button{
	background-color: $color3;
	border-color: $color3;
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns button:hover{
	background-color: $color1;
	border-color: $color1;
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns button:last-child{
	margin-right: 0px;
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns button::after{
	@include makeNull;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 8px);
	background-color: $color2;
	@include trans('background-color', '600ms');
}

main .similar-products .center #similar-products-slider .item:hover .content .bottom .btns button::after{
	background-color: $white;
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns button.favourite::after{
	@include sprite('-227px -5px');
}

main .similar-products .center #similar-products-slider .item .content .bottom .btns button.cart::after{
	@include sprite('-210px -5px');
}